Source: xenta-translations
Section: admin
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaoslinux/xenta-translations
Vcs-Browser: https://github.com/xentaoslinux/xenta-translations.git

Package: xenta-translations
Architecture: all
Description: Paket Berkas Penerjamahan Xenta OS.
 Sebuah Paket Untuk Terjemahan Xenta OS.
